In [1]:
from sqlalchemy import create_engine
import pandas as pd
from openpyxl import Workbook
import warnings
warnings.filterwarnings('ignore')

In [3]:
engine=create_engine('sqlite:///data/diamonds_m2.db')
table_names = engine.table_names()
print(table_names)

['diamonds_city', 'diamonds_clarity', 'diamonds_color', 'diamonds_cut', 'diamonds_dimensions', 'diamonds_properties', 'diamonds_transactional']

In [4]:
diamonds_clarity = pd.read_sql_query("Select * from diamonds_clarity",engine)
diamonds_color = pd.read_sql_query("Select * from diamonds_color",engine)
diamonds_cut = pd.read_sql_query("Select * from diamonds_cut",engine)
diamonds_dimensions = pd.read_sql_query("Select * from diamonds_dimensions",engine)
diamonds_properties = pd.read_sql_query("Select * from diamonds_properties",engine)
diamonds_transactional = pd.read_sql_query("Select * from diamonds_transactional",engine)
diamonds_city = pd.read_sql_query("Select * from diamonds_city",engine)

In [5]:
diamonds_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [6]:
#diamonds_clarity
#diamonds_color
#diamonds_cut
#diamonds_dimensions
#diamonds_transactional
#diamonds_city

In [7]:
query_1='''SELECT 
            propertis.index_id,
            clarity.clarity,
            color.color,
            cut.cut,
            dimensions.depth,
            dimensions.'table',
            dimensions.x,
            dimensions.y,
            dimensions.z,
            transactional.price,
            transactional.carat,
            city.city
        FROM diamonds_properties as propertis
        LEFT JOIN diamonds_clarity as clarity ON propertis.clarity_id = clarity.clarity_id
        LEFT JOIN diamonds_color as color ON propertis.color_id = color.color_id
        LEFT JOIN diamonds_cut as cut ON propertis.cut_id = cut.cut_id
        LEFT JOIN diamonds_dimensions as dimensions ON propertis.index_id = dimensions.index_id
        LEFT JOIN diamonds_transactional as transactional ON propertis.index_id = transactional.index_id
        LEFT JOIN diamonds_city as city ON transactional.city_id = city.city_id'''

In [8]:
diamonds = pd.read_sql_query(query_1,engine)

In [9]:
#Elimino los valores 0 de las medidas. 
Columns = ['x','y','z']

for i in Columns:
    Error_index_size = diamonds[diamonds[i]==0].index
    diamonds=diamonds.drop(Error_index_size)

In [10]:
#Elimino un valor table desviado
Error_index_table = diamonds[diamonds['table']==95].index
diamonds=diamonds.drop(Error_index_table)

In [11]:
#Calculo la columna volumen
diamonds['Volumen']= diamonds['x']*diamonds['y']*diamonds['z']

In [77]:
file_name = 'diamonds.xlsx'
diamonds.to_excel(file_name, index=False)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.